##########################
## Connection Configuration
##########################

# Provide the connection details
[connection]
tenant_name=demo
auth_url=http://127.0.0.1:5000/v2.0
username=admin
password=sop52maw

# Details for fetching the billing data
# provide tenant_id, begin date and end date
# date format ex: 2015-12-25 15:00:00
[billing_details]
tenant_id=bb16e60a427941fbb27bc2d055b9749a
begin=2016-01-05 00:00:00
end=2016-01-15 15:00:00
