##########################
## Connection Configuration
##########################

# Provide the connection details
[connection]
tenant_name=admin
auth_url=http://127.0.0.1:5000/v2.0
username=admin
password=sop52maw

########################
## Instance size
## Configuration
########################

# Provide here the desired sizes
# and its Cost
# Cost is for particular period we defining in cloudkitty.conf file

[instance_size_section]
m1.tiny=1.5
m1.small=2.5
m1.medium=3.5
m1.large=4.5
m1.xlarge=5.5


########################
## Image details
## Configuration
########################

# Provide here the image_id
# and its cost
# Cost is for particular period we defining in cloudkitty.conf file

[image_section]
8cd61af0-48e5-49cb-8a7b-4fffbcd1d54c=8.5

#######################
## Floating IP
## Configuration
#######################

# Provide here only the price for floating IP
# One time fee for each Floating IP created

[floating_ip]
cost_floating_ip=4.5

#######################
## Network Inbound
## Configuration
#######################

# Provide here only the price for network Inbound
# Cost is for particular period mentioned in cloudkitty.conf file
# Based on the MB of data being transferred

[network_inbound]
cost_network_inbound=9.5

#######################
## Network Outbound
## Configuration
#######################

# Provide here only the price for network Outbound
# Cost is for particular period mentioned in cloudkitty.conf file
# Based on the MB of data being transferred

[network_outbound]
cost_network_outbound=14.5
